<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div id="god-container">
      <div id="admin-panel-nav">
        <i class="fab fa-joomla fa-4x"></i>
        <ul>
          <li><%= link_to('Home', '/') %></li>
          <li><%= link_to('Instructors', '/instructors') %></li>
          <li id="selected-admin-link"><%= link_to('Cohorts', '/cohorts') %></li>
          <li><%= link_to('Courses', '/courses') %></li>
          <li><%= link_to('Students', '/students') %></li>
          <li><i class="fas fa-sign-out-alt">  <%= link_to("Log Out",logout_path,method: :delete, data: {confirm: 'Are you sure?'}) %></i></li>
        </ul>
      </div>

      <div id="admin-panel-content">
        <h1>All Cohorts</h1>

        <%= link_to 'Add Cohort','cohorts/new' %>

        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
            <% @cohorts.sort.each do |cohort| %>
              <tr>
                <th scope="row"><%= cohort.id %></th>
                <td><%= link_to "#{cohort.name}", cohort %></td>
                <td><%= cohort.start_date.strftime("%b %d, %Y") %></td>
                <td><%= cohort.end_date.strftime("%b %d, %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
