<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <div id="login-navbar">
      <h3><%= link_to("NYCDA", root_path) %></h3>
    </div>

    <div id="login-content" class="register-form-content">
      <i class="fas fa-unlock-alt fa-2x"></i>
      <h1>Add a new admin</h1>
      <%= form_for(@admin) do |f| %>
      <label>Username:</label><br>
      <%= f.text_field :username, placeholder: "Username", required: true %><br><br>
      <label>Password:</label><br>
      <%= f.password_field :password, placeholder: "Password", required: true %><br><br>
      <label>Confirm Password:</label><br>
      <%= f.password_field :password_confirmation, placeholder: 'Password', required: true %><br><br>
      <label>You found the lock, now use the key:</label><br>
      <%= f.password_field :admin_key, placeholder: "Key", required: true %><br><br>
      <%= f.submit "Register" %>
      <% end %><br><br>
      Already have an account? <%= link_to("Log In", root_path)%><br><br>
    </div>
</body>

</html>
