<h1>Add a new Instructor</h1>

<%= form_for(@instructor) do |f| %>
<%= f.text_field :first_name, placeholder: "First Name", required: true %><br><br>
<%= f.text_field :last_name, placeholder: "Last Name", required: true %><br><br>
<%= f.number_field :age, placeholder: "Age", max: 149, min: 18, required: true %><br><br>
<%= f.number_field :salary, placeholder: "Salary", max: 1_000_000, min: 100_000, required: true %><br><br>
<%= f.select :education, [['High School','HS'], ['College','College'], ['Masters','Masters'], ['PHD','PHD']], {include_blank:true}, required: true %><br><br>
<%= f.submit "Add Instructor" %>
<% end %>
