<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div id="god-container">
      <div id="admin-panel-nav">
        <i class="fab fa-joomla fa-4x"></i>
        <ul>
          <li><i class="fas fa-home fa-sm"></i> <%= link_to('Home', '/') %></li>
          <li><%= link_to('Instructors', '/instructors') %></li>
          <li><%= link_to('Cohorts', '/cohorts') %></li>
          <li><%= link_to('Courses', '/courses') %></li>
          <li><%= link_to('Students', '/students') %></li>
          <li><i class="fas fa-sign-out-alt"></i>  <%= link_to("Log Out",logout_path,method: :delete, data: {confirm: 'Are you sure?'}) %></li>
        </ul>
      </div>

      <div id="admin-panel-content">
        <h1>Edit Course</h1>

        <%= form_for(@course) do |f| %>
        <label>Name:</label><br>
        <%= f.text_field :name, placeholder: "Name", required: true %><br><br>
        <label>Class Hours:</label><br>
        <%= f.number_field :class_hours, min:20, required: true %><br><br>
        <%= f.submit "Edit Course" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
